Checks: >
  -*,
  readability-identifier-naming,
  modernize-use-enum-class,
  bugprone-switch-missing-default-case

WarningsAsErrors: >
  readability-identifier-naming,
  modernize-use-enum-class,
  bugprone-switch-missing-default-case

HeaderFilterRegex: '^(include|src|samples)/.*\.(h|hpp)$'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.EnumPrefix
    value: E

  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case

  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_

  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case

  - key: readability-identifier-naming.PublicMemberPrefix
    value: ""

  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case

  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_

  - key: readability-identifier-naming.MethodCase
    value: camelBack

  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack

  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_

  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack

  - key: readability-identifier-naming.GlobalConstexprVariablePrefix
    value: k

  - key: readability-identifier-naming.GlobalConstexprVariableCase
    value: CamelCase

  - key: readability-identifier-naming.LocalConstexprVariablePrefix
    value: k

  - key: readability-identifier-naming.LocalConstexprVariableCase
    value: CamelCase

  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k

  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase

  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case

  - key: readability-identifier-naming.LocalVariablePrefix
    value: ""

  - key: readability-identifier-naming.ParameterCase
    value: lower_case

  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase

  - key: readability-identifier-naming.NonTypeTemplateParameterCase
    value: CamelCase

  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  - key: readability-identifier-naming.TypedefCase
    value: CamelCase

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
