# Git LFS configuration for precompiled Slang binaries

# Windows precompiled libraries and executables
*.lib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text

# Linux precompiled libraries
*.so filter=lfs diff=lfs merge=lfs -text
*.so.* filter=lfs diff=lfs merge=lfs -text

# Keep source files in git (not LFS)
*.h -filter -diff -merge
*.slang -filter -diff -merge
*.md -filter -diff -merge

#Images
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text